@charset "UTF-8";

/* Tufte CSS Styles */

/* Fonts & Base Styles */
@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "et-book-roman-old-style";
  src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
  src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* MAIN STYLES */

html {
  font-size: 15px;
}

body {
  width: 87.5%;
  margin: 0 auto;
  padding-left: 12.5%;
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
  background-color: #fffff8;
  color: #111;
  max-width: 1400px;
  counter-reset: sidenote-counter;
  overflow-x: hidden;
}

/* Tufte CSS Styles */

/* Chapter Epigraphs */
div.epigraph {
  margin: 5em 0;
}

div.epigraph>blockquote {
  margin-top: 3em;
  margin-bottom: 3em;
}

div.epigraph>blockquote,
div.epigraph>blockquote>p {
  font-style: italic;
}

div.epigraph>blockquote>footer {
  font-style: normal;
}

div.epigraph>blockquote>footer>cite {
  font-style: italic;
}

/* end chapter epigraphs styles */

blockquote {
  font-size: 1.4rem;
}

blockquote p {
  width: 55%;
  margin-right: 40px;
}

blockquote footer {
  width: 55%;
  font-size: 1.1rem;
  text-align: right;
}

/* Reset and Defaults */
:focus {
  outline: none;
}

::selection {
  background: #eee;
  color: #000;
  opacity: 1;
  padding: 10px;
}

a {
  color: black;
}

ul {
  margin: 0px 0px 10px 0px;
}

ul.nobull li {
  list-style-type: none;
}

/* Header and Navigation */
header,
nav {
  padding: 45px;
}

header {
  border-bottom: 1px solid #222;
}

nav {
  float: left;
}

nav details summary {
  margin-bottom: 30px;
}

nav .site-nav section {
  margin-bottom: 40px;
  line-height: 22px;
}

nav .site-nav section h2 {
  margin: 20px 0;
}

nav .site-nav section ul {
  margin: 0;
  padding: 0;
}

/* Main Content */
main {
  float: left;
  padding: 45px;
  max-width: 700px;
}

main img {
  margin-bottom: 15px;
  max-width: 700px;
  width: 100%;
}

main>* {
  margin-bottom: 30px;
  max-width: 600px;
}

main>h1 {
  display: none;
  font-size: 45px;
  text-transform: capitalize;
}

main p {
  font-size: 16px;
  line-height: 25px;
  margin-top: 0;
}

main ul {
  line-height: 25px;
}

/* Styles for h2-h4 */
main>h2,
main>h3,
main>h4 {
  text-transform: capitalize;
}

main>h2 {
  font-size: 30px;
}

main>h3 {
  font-size: 20px;
}

main>h4 {
  font-size: 35px;
}

/* Lists */

ul,
ol {
  margin-left: 20px;
  /* Indent the list */
  line-height: 1.7;
  /* Increased line height for better readability */
  padding-left: 5px;
  /* Space between bullet/number and text */
}

ul ul,
ul ol,
ol ul,
ol ol {
  /* Nested lists */
  margin-left: 20px;
  /* Additional indentation for nested lists */
}

ul {
  list-style-type: disc;
}

ul ul {
  /* Nested unordered lists */
  list-style-type: circle;
}

ul ul ul {
  /* 3rd Level unordered lists */
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

ol ol {
  /* Nested ordered lists */
  list-style-type: lower-alpha;
  /* Will use letters instead of numbers */
}

ol ol ol {
  /* 3rd Level ordered lists */
  list-style-type: lower-roman;
  /* Will use roman numerals */
}


/* Modular Styles */
.col2 {
  columns: 2;
}

.capital {
  text-transform: capitalize;
}

.notice {
  padding: 20px;
  border: 2px solid black;
}

/* Theme (Dark Mode) */
@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: white;
  }

  body a,
  main>code,
  main>pre {
    background: white;
    color: #000;
  }

  main .project {
    border-left: 2px solid white;
  }

  .notice {
    border-color: white;
  }

  main .progress>div {
    background-color: white;
  }

  main .progress>div>span {
    color: black;
  }
}

/* Mobile */

@media (max-width: 1100px) {
  nav {
    width: 100%;
  }

  nav .site-nav section {
    float: left;
    margin: 0 10px 10px 0;
  }
}

@media (max-width: 1100px) and (min-width: 651px) {
  nav .site-nav section {
    width: calc(25% - 10px);
  }

  nav .site-nav section:nth-child(4n + 1) {
    clear: left;
  }
}

@media (max-width: 650px) and (min-width: 501px) {
  nav .site-nav section {
    width: calc(33% - 10px);
  }

  nav .site-nav section:nth-child(3n + 1) {
    clear: left;
  }
}

@media (max-width: 500px) and (min-width: 351px) {
  nav .site-nav section {
    width: calc(50% - 10px);
  }

  nav .site-nav section:nth-child(2n + 1) {
    clear: left;
  }
}

@media (max-width: 350px) {
  nav .site-nav section {
    width: 100%;
  }
}

/* Footer */
#end_footer {
  clear: both;
  line-height: 30px;
  padding: 45px;
}

#end_footer hr {
  margin-bottom: 15px;
}