/* Reset and Defaults */
:focus {
  outline: none;
}

::selection {
  background: #eee;
  color: #000;
  opacity: 1;
  padding: 10px;
}

body {
  background: #fff;
  color: #000;
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

a {
  color: black;
}

ul {
  margin: 0px 0px 30px 0px;
}

ul.nobull li {
  list-style-type: none;
}

/* Header and Navigation */
header,
nav {
  padding: 45px;
}

header {
  border-bottom: 1px solid #222;
}

nav {
  float: left;
}

nav details summary {
  margin-bottom: 30px;
}

nav .site-nav section {
  margin-bottom: 40px;
  line-height: 22px;
}

nav .site-nav section h2 {
  margin: 20px 0;
}

nav .site-nav section ul {
  margin: 0;
  padding: 0;
}

/* Main Content */
main {
  float: left;
  padding: 45px;
  max-width: 700px;
}

main img {
  margin-bottom: 15px;
  max-width: 700px;
  width: 100%;
}

main>* {
  margin-bottom: 30px;
  max-width: 600px;
}

main>h1 {
  display: none;
  font-size: 45px;
  text-transform: capitalize;
}

main p {
  font-size: 16px;
  line-height: 25px;
  margin-top: 0;
}

main ul {
  line-height: 25px;
}

/* Styles for h2-h4 */
main>h2,
main>h3,
main>h4 {
  text-transform: capitalize;
}

main>h2 {
  font-size: 30px;
}

main>h3 {
  font-size: 20px;
}

main>h4 {
  font-size: 35px;
}

/* Modular Styles */
.col2 {
  columns: 2;
}

.capital {
  text-transform: capitalize;
}

.notice {
  padding: 20px;
  border: 2px solid black;
}

/* Theme (Dark Mode) */
@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: white;
  }

  body a,
  main>code,
  main>pre {
    background: white;
    color: #000;
  }

  main .project {
    border-left: 2px solid white;
  }

  .notice {
    border-color: white;
  }

  main .progress>div {
    background-color: white;
  }

  main .progress>div>span {
    color: black;
  }
}

/* Mobile */

@media (max-width: 1100px) {
  nav {
    width: 100%;
  }

  nav .site-nav section {
    float: left;
    margin: 0 10px 10px 0;
  }
}

@media (max-width: 1100px) and (min-width: 651px) {
  nav .site-nav section {
    width: calc(25% - 10px);
  }

  nav .site-nav section:nth-child(4n + 1) {
    clear: left;
  }
}

@media (max-width: 650px) and (min-width: 501px) {
  nav .site-nav section {
    width: calc(33% - 10px);
  }

  nav .site-nav section:nth-child(3n + 1) {
    clear: left;
  }
}

@media (max-width: 500px) and (min-width: 351px) {
  nav .site-nav section {
    width: calc(50% - 10px);
  }

  nav .site-nav section:nth-child(2n + 1) {
    clear: left;
  }
}

@media (max-width: 350px) {
  nav .site-nav section {
    width: 100%;
  }
}

/* Footer */
footer {
  clear: both;
  line-height: 30px;
  padding: 45px;
}

footer hr {
  margin-bottom: 15px;
}